body { font-family: Arial; margin:0; background:#f4f4f4; }

header { background:#16a085; color:white; text-align:center; padding:25px; }

nav { background:#333; padding:10px; text-align:center; }
nav a, .cart-btn {
    color:white; margin:0 15px; cursor:pointer; font-weight:bold;
}

input {
    width:80%; padding:12px; margin:20px auto; display:block;
}

.products {
    display:flex; flex-wrap:wrap; justify-content:center; gap:15px;
}

.item {
    background:white; width:220px; padding:15px;
    text-align:center; border-radius:8px; box-shadow:0 0 8px #ccc;
}

button {
    background:#1abc9c; color:white; border:none;
    padding:10px; width:100%; cursor:pointer; border-radius:5px;
}

button:hover { background:#148f77; }

#cartModal {
    display:none; position:fixed; top:0; left:0;
    width:100%; height:100%; background:rgba(0,0,0,0.5);
}

.cart-content {
    background:white; width:300px; margin:100px auto;
    padding:20px; border-radius:8px; text-align:center;
}

footer {
    background:#222; color:white; text-align:center;
    padding:10px; margin-top:30px;
}
